@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}

.animate-pause {
  animation-play-state: paused;
}

@layer base {
  :root {
    --background: 48 43% 97%;
    --foreground: 222.2 84% 4.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 36 47% 64%;
    --primary-foreground: 210 40% 98%;

    --secondary: 156 46% 21%;
    --secondary-foreground: 210 40% 98%;

    --muted: 33 31% 89%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 36 47% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 36 30% 85%;
    --input: 36 30% 85%;
    --ring: 36 47% 64%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  p {
    font-family: 'Inter', sans-serif;
  }
}
